{
  "presets": [
    ["@babel/preset-env", {
      "modules": "auto", // false
      "useBuiltIns": "usage", // entry
      "corejs": "3.46",
      "targets": "defaults",
      "debug": false
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}