@use "../_mixins.scss";

.inx-link {
	display: flex;
	align-items: center;
	color: var(--inx-color-action-element);
	transition: filter .35s linear;

	@at-root a#{&} {
		text-decoration: none;
		box-shadow: none;
	}
}

.inx-link:visited,
.inx-link:hover,
.inx-link:focus,
.inx-link:active {
	color: var(--inx-color-action-element);
	filter: brightness(120%) saturate(85%);
}

.inx-link--is-inline {
	display: inline-flex;
}

.inx-inverse .inx-link,
.inx-link.inx-inverse {
	color: var(--inx-color-action-element-inverted);
	@include mixins.unified-active-link-states(var(--inx-color-action-element-inverted));
}