button.inx-button {
	font-size: 1em;
	background-color: var(--inx-color-action-element);
}

.inx-button--action {
	color: #fff;
	background-color: var(--inx-color-action-element);
}

button.inx-button:disabled:hover {
	border: 1px solid transparent;
}

button.inx-button:not(:disabled):hover,
.inx-button--action:not(:disabled):hover {
	cursor: pointer;
	background-color: var(--inx-color-action-element-lighter);
}

button.inx-button.uk-button,
button.inx-button.uk-button:hover {
	padding: 0 30px;
	line-height: 38px;
	font-family: inherit;
}