.inx-switch {
	position: relative;
	display: inline-block;
	height: 34px;
	width: 60px;
}

.inx-switch input {
	display: none;
}

.inx-switch-slider {
	background-color: rgba(218, 20, 14, .92);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 512px;
	bottom: 0;
	cursor: pointer;
	transition-property: background-color;
	transition-duration: .2s;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}

.inx-switch-slider:before {
	content: '';
	background-color: #fff;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 2px;
	bottom: 2px;
	border-radius: 50%;
	transition-property: transform, box-shadow;
	transition-duration: .2s;
}

input:checked + .inx-switch-slider {
	background-color: rgba(23, 178, 3, .92) !important;
}

input:checked + .inx-switch-slider:before {
	transform: translateX(26px);
}