// Special styles for immonex widgets (OpenImmo2WP & Co.)

.immonex-widget-title {
	h2, h3, h4 {
		margin-top: 1em;
		margin-bottom: 1em;
		padding-bottom: calc(5px + 0.1em);
		border-bottom: calc(0.2px + 0.05em) solid var(--inx-color-bg-muted-default-darker);
		font-size: 1.4em;
		font-weight: bold;
	}
}
