.inx-gallery__slidenav {
	color: #F0F0F0;
	font-size: 5em;
	font-weight: normal;
	text-decoration: none !important;
	text-shadow: 0 0 2px #202020, 1px 2px 5px rgba(0, 0, 0, .85);
	background: rgba(.8, .8, .8, .01);

	&:hover,
	&:focus,
	&:active {
		color: #F0F0F0;
		text-decoration: none !important;
	}
}

.inx-gallery__images {
	min-height: var(--inx-gallery-image-slider-min-height, initial);

	li {
		background-color: var(--inx-gallery-image-slider-bg-color);
	}
}

.inx-gallery__image {
	max-height: 100%;

	a {
		width: 100%;
		height: 100%;
	}

	img {
		display: block;
		max-height: 100%;
		object-fit: contain;
	}

	&.uk-animation-kenburns {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			top: auto;
			height: auto;
		}
	}
}

.inx-gallery--kbe-mode--cover {
	.inx-gallery__image.uk-animation-kenburns {
		display: block;

		img {
			min-height: 100%;
			object-fit: cover;
		}
	}
}

.inx-gallery--kbe-mode--full-top {
	.inx-gallery__image.uk-animation-kenburns {
		align-items: start;
		justify-content: start;
	}
}

.inx-gallery__video-iframe,
.inx-gallery__images .immonex-virtual-tour-iframe-wrap,
.inx-gallery__images .immonex-virtual-tour-iframe-wrap iframe {
	width: 100%;
	height: 100%;
}

.inx-gallery__video {
	width: 100%;
	height: 100%;
	background: rgba(240, 240, 240, .5);

	&:has(+ .inx-gallery__video-title) {
		height: calc(100% - 3em);
	}

	.mejs-container {
		background: inherit;
	}

	.wp-video {
		display: inline;
		margin: auto 0;
	}

	.wp-video video {
		width: 100% !important;
		height: 100% !important;
	}
}

.inx-gallery__video-title {
	display: flex;
	height: 3em;
	align-items: center;
	justify-content: center;
}

.inx-gallery__image-slider .uk-slide-active:has(.inx-embed-consent-request__content--has-consent) {
	> div {
		overflow: hidden !important;
	}

	.inx-embed-consent-request {
		height: 100%;
	}
}

.inx-gallery__image-slider .uk-slide-active:has(.inx-embed-consent-request__content--has-consent) > div {
	overflow: hidden !important;
}

.inx-gallery__image-slider .uk-slide-active:has(.inx-embed-consent-request__content--has-consent) .inx-embed-consent-request {
	height: 100%;
}

@media print {
	.inx-gallery__image-slider {
		display: none;
	}
}