.inx-range-slider__label-value {
	margin-bottom: .5em;
}

.inx-range-slider__nouislider {
	height: .3em;
	font-size: 1.2em;

	.noUi-horizontal {
		height: .25em
	}

	.noUi-handle {
		width: 1.1em;
		height: 1.1em;
		border-radius: 50%;
	}

	.noUi-handle::before,
	.noUi-handle::after {
		display: none;
	}

	.noUi-connect {
		background-color: $color-action-element;
	}

	.noUi-pips {
		font-size: .7em;

		.noUi-marker {
			height: .1em;
		}

		.noUi-marker-large {
			height: .5em;
		}

		.noUi-value {
			margin-top: .25em;
		}
	}
}

// noUiSlider Fix

html:not([dir="rtl"]) .inx-range-slider__nouislider.noUi-horizontal .noUi-origin {
	top: -.20em;
	left: -.125em;
}

@media screen and (min-width: $screen-l) {
	html:not([dir="rtl"]) .inx-range-slider__nouislider.noUi-horizontal .noUi-origin {
		top: -.125em;
		left: -.25em;
	}
}