// Property Labels

.inx-property-label {
	display: inline-block;
	border-bottom-right-radius: 0;
	font-size: 1em;
	background-color: var(--inx-color-label-default);
	background: var(--inx-gradient-label-default);
}

.inx-property-label--vermarktungsart--kauf {
	background-color: var(--inx-color-marketing-type-sale);
	background: var(--inx-gradient-marketing-type-sale);
}

.inx-property-label--vermarktungsart--miete,
.inx-property-label--vermarktungsart--miete-pacht,
.inx-property-label--vermarktungsart--erbpacht {
	background-color: var(--inx-color-marketing-type-rent);
	background: var(--inx-gradient-marketing-type-rent);
}

.inx-property-label--leasing {
	background-color: var(--inx-color-marketing-type-leasing);
	background: var(--inx-gradient-marketing-type-leasing);
}

.inx-property-label--feldname--immonex-is-demo {
	background-color: var(--inx-color-demo);
	background: var(--inx-gradient-demo);
}
