.inx-link {
	display: flex;
	align-items: center;
	color: $color-link;
	transition: all .5s linear;

	@at-root a#{&} {
		text-decoration: none;
		box-shadow: none;
	}
}

.inx-link:active,
.inx-link:focus,
.inx-link:hover {
	color: $color-link-highlighted;
}
