.inx-property-list-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-radius: var(--inx-signature-border-radius, 8px 0 0 0);
	overflow: hidden;
	font-size: .9em;

	> *:not(.inx-property-list-item__labels) {
		flex: 0 0 auto;
	}

	> a {
		box-shadow: none;
	}

	> .inx-property-list-item__labels {
		right: -.15rem !important;
		padding-top: .2em;
		font-size: .85em;
		text-align: right;
	}

	> .inx-property-list-item__body {
		flex: 1 1 auto;
		margin-top: 0;
		padding: $size-font-base;
	}
}

.inx-cq-xs .inx-property-list-item {
	font-size: .8em;
}

.inx-property-list-item__core-details,
.uk-card-footer .inx-property-list-item__core-details {
	margin-bottom: .5em;
}

.inx-property-list-item__excerpt {
	font-size: 1em;
	margin-top: 0;
}

.inx-property-list-item__footer {
	position: initial;
	padding: $size-font-base 0 0 0;
	overflow: hidden;
}

.inx-property-list-item__footer > a,
.inx-property-list-item__footer > a:hover {
	text-decoration: none;
}

.inx-property-list-item__price-time-unit {
	opacity: .8;
	font-size: .7em;
}

.inx-property-list-item__property-type,
.inx-property-list-item__location {
	display: flex;
	align-items: baseline;
	font-size: 1em;
	@include hyphenate(auto);
}

.inx-property-list-item__property-price {
	padding: .5em;
	text-align: center;
	justify-content: center;
}

.inx-property-list-item__title {
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: .5em;
}

.inx-cq-xs {
	.inx-property-list-item__media-top {
		height: 14em;
		overflow: hidden;
	}
}

.inx-cq-s {
	.inx-property-list-item__media-top {
		height: 16em;
	}
}

.inx-cq-sm {
	.inx-property-list-item__media-top {
		height: 14em;
	}
}

.inx-cq:not(.inx-cq-xs) .inx-property-list-item__media-top > img {
	/* disable uk-cover */
	position: static;
	max-width: 100%;
	height: auto !important;
	transform: none;
}

@media (min-width: $screen-s) {
	.inx-property-list-item {
		font-size: .8em;
	}

	.inx-property-list-item__media-top {
		height: 16em;
	}
}

@media (min-width: $screen-m) {
	.inx-property-list-item__footer {
		/* compatibility */
		position: initial;
	}

	.inx-property-list-item__media-top {
		/* compatibility */
		height: 18em;
	}
}

@media (max-width: $screen-s) {
	.inx-property-list-item__media-top > img {
		/* disable uk-cover/compatibility */
		position: static;
		max-width: 100%;
		height: auto !important;
		transform: none;
	}
}

@media (min-width: $screen-l) {
	.inx-property-list-item__media-top {
		/* compatibility */
		height: 14em;
	}
}

.inx-oi-vermarktungsart-kauf {
	h3 > a {
		color: var(--inx-color-marketing-type-sale);
	}

	h3 > a:hover {
		color: var(--inx-color-marketing-type-sale-lighter);
	}

	.inx-property-price {
		background-color: var(--inx-color-marketing-type-sale);
		background: var(--inx-gradient-marketing-type-sale);
	}
}

.inx-property-list-item.inx-oi-vermarktungsart-miete,
.inx-property-list-item.inx-oi-vermarktungsart-miete-pacht,
.inx-property-list-item.inx-oi-vermarktungsart-erbpacht {
	h3 > a {
		color: var(--inx-gradient-marketing-type-rent);
	}

	h3 > a:hover {
		color: var(--inx-color-marketing-type-rent-lighter);
	}

	.inx-property-price {
		background-color: var(--inx-color-marketing-type-rent);
		background: var(--inx-gradient-marketing-type-rent);
	}
}

.inx-property-list-item.inx-oi-vermarktungsart-leasing {
	h3 > a {
		color: var(--inx-color-marketing-type-leasing);
	}

	h3 > a:hover {
		color: var(--inx-color-marketing-type-leasing-lighter);
	}

	.inx-property-price {
		background-color: var(--inx-color-marketing-type-leasing);
		background: var(--inx-gradient-marketing-type-leasing);
	}
}
