// Property Details (Single Property)

.inx-single-property.uk-container,
.inx-single-property.uk-container-large {
	margin: 0 auto;
}

.inx-single-property__footer {
	background-color: var(--inx-color-bg-muted-default);
}

div.inx-single-property__head {
	position: relative;
	margin-bottom: 2em;
	background-color: var(--inx-color-bg-muted-default);

	hr {
		background-color: var(--inx-color-bg-muted-default-darker);
		border-color: var(--inx-color-bg-muted-default-darker);
		margin: 1em auto;
	}
}

h1.inx-single-property__head-title,
h2.inx-single-property__head-title,
h3.inx-single-property__head-title,
h4.inx-single-property__head-title {
	margin-top: 0;
}

.inx-single-property__head-title {
	font-size: 1.5em;
	font-weight: bold;
}

.inx-single-property__head-primary-price {
	font-size: 1.5em;
}

.inx-single-property__head-element-title {
	word-break: normal;
	overflow-wrap: break-word;
}

.inx-single-property__labels {
	padding-top: 1em;
}

.inx-single-property__section:not(:last-child) {
	margin-bottom: 2em;
}

.inx-single-property__section--type--features {
	> div:not(:last-child),
	> ul:not(:last-child) {
		margin-bottom: 3em;
	}
}

.inx-single-property__section-title {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1.4em;
	font-weight: bold;
}

.inx-single-property__sidebar {
	> ul {
		padding-left: 0;
		list-style-type: none;
	}
}

ul.inx-single-property__tab-nav,
ul#inx-single-property__tab-contents {
	list-style-type: none !important;
	padding: 0;
}

ul.inx-single-property__tab-nav.uk-tab {
	margin-left: -20px;
}

.inx-single-property__tab-nav li {
	margin: 0;
}

.inx-single-property__tab-nav a {
	color: var(--inx-color-action-element);
	text-decoration: none;
	box-shadow: none;
}

.inx-single-property__tab-nav a:hover,
.inx-single-property__tab-nav a:active,
.inx-single-property__tab-nav > .uk-active > a {
	color: var(--inx-color-action-element-lighter);
}

.inx-single-property__tab-nav.uk-tab > .uk-active > a {
	border-bottom: 2px solid var(--inx-color-action-element-lighter);
}

.inx-single-property__tab-nav.uk-tab:not(.inx-cq-s) {
	flex-direction: column;
	margin-left: 0;

	> li {
		padding-left: 0;
		line-height: 1.5em;

		> a {
			justify-content: left;
			border-left: 2px solid transparent;
			border-bottom: none;
		}
	}

	> li.uk-active a {
		border-left: 2px solid var(--inx-color-action-element-lighter);
	}
}

.inx-single-property__tab-nav.uk-tab:not(.inx-cq-s)::before {
	top: 0;
	bottom: 0;
	left: 0;
	right: auto;
	border-left: 2px solid #e5e5e5;
	border-bottom: none;
}

#inx-single-property__tab-contents .inx-single-property__section-title {
	font-size: 1.2em;
	font-weight: bold;
}

.inx-single-property__tabbed-content {
	background-color: var(--inx-color-bg-muted-default);

	.uk-heading-divider,
	.uk-tab::before {
		border-color: var(--inx-color-bg-muted-default-darker);
	}

	.uk-tab > * > a {
		font-size: .9em;
	}
}

.inx-single-property__video-wrap {
	position: relative;
	aspect-ratio: 16 / 9;

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.inx-single-property__video-iframe {
	width: 100%;
	height: 100%;
}

.inx-single-property__video {
	width: 100%;
	height: 100%;
	background: rgba(240, 240, 240, .5);

	&:has(+ .inx-single-property__video-title) {
		height: calc(100% - 3em);
	}

	.mejs-container {
		background: inherit;
	}

	.wp-video {
		display: inline;
		margin: auto 0;
	}

	.wp-video video {
		width: 100% !important;
		height: 100% !important;
	}
}

.inx-single-property__video-title {
	display: flex;
	height: 3em;
	align-items: center;
	justify-content: center;
}

.inx-single-property__contact-person-name-bio {
	> strong:first-child {
		font-size: 1.2em;
	}

	p:last-child,
	.inx-single-property__contact-person-bio p:last-child {
		margin-bottom: 0;
	}
}

@media screen and (min-width: $screen-m) {
	.inx-single-property__labels {
		right: -.25em;
	}
}

@media print {
	.inx-single-property.uk-container,
	.inx-single-property > .uk-container {
		box-sizing: border-box;
		width: 100%;
		padding: 0 3em;
	}

	.inx-single-property > .uk-grid,
	.inx-single-property > * > .uk-grid {
		display: block;
	}

	.inx-single-property__footer {
		display: none;
	}

	.inx-single-property__head-elements > .uk-grid-margin {
		margin-top: 0;
	}

	.inx-single-property__head-title {
		margin-top: 1em !important;
	}

	#inx-single-property__tab-contents > li {
		display: block;
		margin: 2em 0;
		padding: 0;
		@include noanimation()
	}

	#inx-single-property__tab-contents {
		> li:first-child {
			margin-top: 0;
		}
	}

	.inx-single-property__tab-nav {
		display: none;
	}

	.inx-single-property__section {
		page-break-inside: avoid;
	}

	.inx-single-property__section--type--gallery {
		page-break-after: always;
	}

	.inx-single-property__section.uk-margin-large-bottom {
		margin-bottom: 2em !important;
	}

	.uk-switcher > :not(.uk-active) {
		position: static !important;
		display: block !important;
	}
}
