$marketing-type-colors: (
	"kauf": $color-oi-vermarktungsart-kauf,
	"miete": $color-oi-vermarktungsart-miete,
	"miete-pacht": $color-oi-vermarktungsart-miete,
	"miete-erbpacht": $color-oi-vermarktungsart-miete,
	"leasing": $color-oi-vermarktungsart-leasing
);

@each $type, $color in $marketing-type-colors {
	.inx-oi--vermarktungsart--#{$type} {
		color: $color;
		@include unified-active-link-states($color);
	}

	.inx-oi--inverted.inx-oi--vermarktungsart--#{$type} {
		@include gradient($color);
	}
}

.inx-oi--inverted {
	color: $color-default-text-inverted;

	@include unified-active-link-states($color-default-text-inverted);
}
