ul.inx-detail-list {
	list-style-type: none !important;

	&.uk-grid:not(.uk-grid-small) {
		margin-left: -30px;
	}

	&.uk-grid-small {
		margin-left: -15px;
	}
}

.inx-detail-list__item {
	margin-top: 0 !important;
}

.inx-detail-list__value {
	font-weight: bold;
}

@media (min-width: $screen-l) {
	ul.inx-detail-list.uk-grid:not(.uk-grid-small) {
		margin-left: -40px;
	}
}