$marketing-type-color-map: (
	"kauf": "sale",
	"miete": "rent",
	"miete-pacht": "rent",
	"miete-erbpacht": "rent",
	"leasing": "leasing"
);

@each $oi-type, $type in $marketing-type-color-map {
	.inx-oi--vermarktungsart--#{$oi-type} {
		color: var(--inx-color-marketing-type-#{$type});
		@include unified-active-link-states(var(--inx-color-marketing-type-#{$type}));
	}

	.inx-oi--inverted.inx-oi--vermarktungsart--#{$oi-type} {
		background-color: var(--inx-color-marketing-type-#{$type});
		background: var(--inx-gradient-marketing-type-#{$type});
	}
}

.inx-oi--inverted {
	color: var(--inx-color-text-inverted-default);

	@include unified-active-link-states(var(--inx-color-action-element-inverted));
}