@use "../_config";

.inx-form-element .inx-range-slider {
	.inx-range-slider__nouislider {
		box-sizing: content-box;
  		margin: 0 auto;
  		padding: .1em .35em;
		border: none;
		height: 1em;
		font-size: 19px;
		box-shadow: none;
		background: none;

		.noUi-base {
			box-sizing: content-box;
			display: flex;
			align-items: center;
		}

		.noUi-connects {
			height: .25em;
			background-color: rgba(0, 0, 0, 0.1);
		}

		.noUi-connect {
			height: .25em;
			background: var(--inx-color-action-element, #C5C5C5);
		}

		.noUi-handle {
			top: -1px;
			right: -.5em;
			width: 1em;
			height: 1em;
			border: .03em solid var(--inx-color-action-element, #A0A0A0);
			border-radius: 50%;
			background: #FFF;
			box-shadow: inset .04em 0 .3em #C5C5C5, 0 0 .2em var(--inx-color-action-element-50pct, #A0A0A0);
		}

		.noUi-handle::before,
		.noUi-handle::after {
			content: "";
			width: 1px;
			height: .5em;
			top: calc(.25em - 1px);
			left: calc(.5em - 2px);
			background-color: var(--inx-color-action-element-75pct, #A0A0A0);
		}

		.noUi-handle::after {
			left: .5em;
		}
	}
}
