/*
Flaticon icon font: Flaticon
Creation date: 10/09/2018 16:02
*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* @media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
} */

/* .fi:before{
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
} */

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}


.flaticon-hotel:before { content: "\f100"; }
.flaticon-shower:before { content: "\f101"; }
.flaticon-shower-1:before { content: "\f102"; }
.flaticon-size:before { content: "\f103"; }
.flaticon-living-room:before { content: "\f104"; }
.flaticon-blueprint:before { content: "\f105"; }
.flaticon-blueprint-1:before { content: "\f106"; }
.flaticon-blueprint-2:before { content: "\f107"; }
.flaticon-blueprint-3:before { content: "\f108"; }
.flaticon-placeholder:before { content: "\f109"; }
.flaticon-pin:before { content: "\f10a"; }
.flaticon-coin:before { content: "\f10b"; }
.flaticon-euro-currency-symbol:before { content: "\f10c"; }
.flaticon-sale:before { content: "\f10d"; }
.flaticon-label:before { content: "\f10e"; }
.flaticon-tag:before { content: "\f10f"; }
.flaticon-key:before { content: "\f110"; }
.flaticon-numbers:before { content: "\f111"; }
.flaticon-number:before { content: "\f112"; }
.flaticon-home:before { content: "\f113"; }
.flaticon-apartment:before { content: "\f114"; }
.flaticon-shower-water-running:before { content: "\f115"; }
.flaticon-house-searcher:before { content: "\f116"; }
.flaticon-sofa:before { content: "\f117"; }
.flaticon-construction:before { content: "\f118"; }
.flaticon-information:before { content: "\f119"; }
.flaticon-calendar:before { content: "\f11a"; }
.flaticon-date-day-with-architect-calendar-reminder-to-house-construction-project-development:before { content: "\f11b"; }
.flaticon-tag-1:before { content: "\f11c"; }

$font-Flaticon-hotel: "\f100";
$font-Flaticon-shower: "\f101";
$font-Flaticon-shower-1: "\f102";
$font-Flaticon-size: "\f103";
$font-Flaticon-living-room: "\f104";
$font-Flaticon-blueprint: "\f105";
$font-Flaticon-blueprint-1: "\f106";
$font-Flaticon-blueprint-2: "\f107";
$font-Flaticon-blueprint-3: "\f108";
$font-Flaticon-placeholder: "\f109";
$font-Flaticon-pin: "\f10a";
$font-Flaticon-coin: "\f10b";
$font-Flaticon-euro-currency-symbol: "\f10c";
$font-Flaticon-sale: "\f10d";
$font-Flaticon-label: "\f10e";
$font-Flaticon-tag: "\f10f";
$font-Flaticon-key: "\f110";
$font-Flaticon-numbers: "\f111";
$font-Flaticon-number: "\f112";
$font-Flaticon-home: "\f113";
$font-Flaticon-apartment: "\f114";
$font-Flaticon-shower-water-running: "\f115";
$font-Flaticon-house-searcher: "\f116";
$font-Flaticon-sofa: "\f117";
$font-Flaticon-construction: "\f118";
$font-Flaticon-information: "\f119";
$font-Flaticon-calendar: "\f11a";
$font-Flaticon-date-day-with-architect-calendar-reminder-to-house-construction-project-development: "\f11b";
$font-Flaticon-tag-1: "\f11c";
