// Container for all immonex Kickstart elements

.inx-container {
	width: 100%;
	max-width: 80em;
	margin: 0 auto;
	margin-bottom: $size-font-base * 2;
	font-size: $size-font-base !important;
	line-height: $line-height-base;

	// UIkit Bugfix

	.uk-icon {
		>svg {
			&:nth-child(2) {
				display: none;
			}
		}
	}
}

// Colored areas

.inx-quiet-bg {
	background-color: var(--inx-color-bg-muted-default);
}

// Flaticons

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before {
	margin-left: 0;
}

// Print

.inx-print-only {
	display: none;
}

@media print {
	.inx-container {
		max-width: 100%;
		font-size: 6pt !important;

		h1 {
			margin-top: 1em;
		}

		img,
		img.lazyload,
		img.lazyloaded,
		img.lazyloading {
			opacity: 1 !important;
			@include noanimation();
		}

		.inx-print-only {
			display: block;
			@include noanimation();
		}

		.uk-padding {
			padding: 2em 0;
		}
	}
}