// Configuration

// Screen sizes (currently based on UIkit, except XS)
$screen-xs: 320px;
$screen-s: 640px;
$screen-m: 960px;
$screen-l: 1200px;
$screen-xl: 1600px;

// Colors
$color-default-lightening-pct: 15%;
$color-action-element: #0A65BC;
$color-action-element-highlighted: lighten($color-action-element, $color-default-lightening-pct);
$color-action-element-inverse: #F8F8F8;
$color-link: $color-action-element;
$color-link-highlighted: $color-action-element-highlighted;

// Mixins
@import "_mixins.scss";

// Blocks (Modules)
@import "blocks/_inx-button.scss";
@import "blocks/_inx-gradient.scss";
@import "blocks/_inx-link.scss";
@import "blocks/_inx-squared-image.scss";
@import "blocks/_inx-switch.scss";
